<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head.ejs')%>

    <link rel="stylesheet" href="/css/menu.css" />
    <title>OHASHI</title>
  </head>

  <body>
    <%-include('partials/loader.ejs')%> <%-include('partials/header.ejs')%>

    <section class="carta-menu">
      <% data.forEach((plato) => { console.log("plato.image") %>

      <article class="plato">
        <a href="/products/detail/<%= plato.id %>">
          <div class="container-imagen">
            <img
              class="imagen-carta"
              src="<%= plato.image ? plato.image : '/images/imagenes-platos/default.jpg' %>"
              alt="Plato N°<%= plato.id %>"
            />
          </div>
          <div class="container-descripcion">
            <p class="nombre-producto"><%= plato.name %></p>
            <p class="descripcion-producto"><%= plato.description %></p>
            <p class="precio-producto">$<%= plato.price %></p>
          </div>
        </a>
        <% if (locals.userAdmin) { %>
        <a class="editbtn" href="/products/edit/<%= plato.id %>">Editar</a>
        <% } %> <% if (locals.usuario) { %>
        <a class="agrCarrito" href="/products/carrito">Agregar al carrito</a>
        <% } %>
      </article>

      <% }) %>
    </section>

    <div class="container-pedir-reservar">
      <a href="/products/carrito">
        <div class="pedir">
          <p>TUS PEDIDOS</p>
          <i class="arroz fa-solid fa-bowl-rice"></i>
        </div>
      </a>
    </div>
    <%-include('partials/footer.ejs')%>
  </body>
</html>
