<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css" />
    <title>OHASHI</title>
  </head>
  <body>
    <%-include('partials/loader.ejs')%> <%-include('partials/header.ejs')%>
    <main>
      <div class="product-container">
        <article>
          <img
            src="<%= plato.image ? plato.image : '/images/imagenes-platos/default.jpg' %>"
            alt="Plato N°<%= plato.id %>"
          />
          <div class="product-descrip">
            <h3><%= plato.name %></h3>
            <p><%= plato.description %></p>
            <p class="price">$<%= plato.price%></p>
            <div class="box-cantidades">
           
              <p id="aclaraciones">ACLARACIONES</p>

              <textarea
                class="texto-aclaracion"
                name="comentario"
                rows="3"
                cols="30"
              >
Escribi aca si necesitas modificar algun ingrediente del plato</textarea
              >
            </div>
            <div>
              <button type="submit" class="pedir-button agregar-carrito" data-id="<%= plato.id%>">
                Agregar al pedido
              </button>
            </div>
          </div>
        </article>
      </div>
    </main>

    <%-include('partials/footer.ejs')%>
    <script src="/js/agregarCarrito.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </body>
</html>
