<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head.ejs')%>
    <link rel="stylesheet" href="/css/profile.css" />
    <title>OHASHI</title>
  </head>
  <body>
    <%-include('partials/header.ejs')%>
    <div class="container-formulario">
      <form class="login" method="POST">
          <h3>INICIAR SESIÓN</h3>

          <input class="usuario" type="email" name="email" placeholder="E-MAIL">
          <% if(locals.errors && locals.errors.email){ %>
            <p class="error-msg"> <%= errors.email.msg %>  </p>
          <% } %>

          <input class="usuario" type="password" name="password" placeholder="CONTRASEÑA">
          <% if(locals.errors && locals.errors.password){ %>
            <p class="error-msg"> <%= errors.password.msg %>  </p>
          <% } %>

            <% if(locals.errorLogin){ %>
            <p class="error-msg"> <%= errorLogin %>  </p>
          <% } %>

          <input class="boton" type="submit" value="INICIAR SESIÓN">

          <input type="checkbox" name="recordarme" value="RECORDARME">
          <label for="recordarme">RECORDARME</label>
          

      </form>

      <form class="register" method="POST">
          <h3>REGISTRO</h3>

          <input class="usuario" type="email" name="email" placeholder="E-MAIL">
          <% if(locals.errors && locals.errors.email){ %>
            <p class="error-msg"> <%= errors.email.msg %>  </p>
          <% } %> 

          <input class="usuario" type="password" name="password" placeholder="CONTRASEÑA">
          <% if(locals.errors && locals.errors.password){ %>
            <p class="error-msg"> <%= errors.password.msg %>  </p>
          <% } %>   


          <div class="container-domicilio">
              <input class="calle" type="text" name="calle" placeholder="CALLE">
              <% if(locals.errors && locals.errors.calle){ %>
                <p class="error-msg"> <%= errors.calle.msg %>  </p>
              <% } %> 

              <input class="numero" type="text" name="number" placeholder="NÚMERO">
              <% if(locals.errors && locals.errors.number){ %>
                <p class="error-msg"> <%= errors.number.msg %>  </p>
              <% } %> 
          </div>

          <input class="usuario" type="text" name="phone" placeholder="NÚMERO DE TELEFONO">
          <% if(locals.errors && locals.errors.phone){ %>
            <p class="error-msg"> <%= errors.phone.msg %>  </p>
          <% } %> 

          <input class="boton" type="submit" value="REGISTRARSE">
      </form>
  </div>
    <%-include('partials/footer.ejs')%>
  </body>
</html>
